<!DOCTYPE html>
<html>
<head>
    <title>UCI GUI</title>
    <base href="/">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="YES"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <script>
        window.isProductionEnvironment = <%= production%>;
    </script>

    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <!-- <script src="public/jspm_packages/npm/es6-shim@0.35.0/es6-shim.min.js"></script> -->

    <!-- Loading these via SystemJS causes errors -->
    <script src="public/jspm_packages/npm/reflect-metadata@0.1.3/Reflect.js"></script>

    <!-- systemJS loader and config -->
    <script src="public/jspm_packages/system.js"></script>
    <script src="public/config.js"></script>
    
    <!-- Spinner css -->
    <link rel="stylesheet" type="text/css" href="public/spinner.css"/>
</head>
<body>
    <!-- our angular2 component -->
    <main-app>
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </main-app>

    <!-- import and run our app -->
    <%if (production) { %>
        <script src="public/app.min.js"></script>
    <% } %>
    <script>
        System.import("app").catch(function(err){ console.error(err);  });
    </script>
</body>
</html>
